/* Your custom SCSS */

.container {
    max-width: 600px; /* Adjust as needed */
  }
  
  .form-group {
    margin-bottom: 20px; /* Add spacing between form groups */
  }
  
  .btn-primary {
    background-color: #007bff; /* Blue color */
    border-color: #007bff; /* Blue color */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border-color: #0056b3; /* Darker blue on hover */
  }
  /* Votre fichier CSS */
.btn-update {
    background-color: blue;
    /* Ajoutez d'autres styles au besoin */
  }
  
  /* Add more custom styles as needed */
  