@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

// @import "~sweetalert2/src/sweetalert2.scss";


/* Common Styles */
.table-container {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  button {
    padding: 10px 15px;
    margin: 5px 10px; /* Add margin for better spacing */
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
  }
  
  .btn-sm {
    font-size: 14px;
  }
  
  .active {
    background-color: #28a745;
  }
  
  /* Add Button Styles */
  .add-button {
    background-color: #28a745; /* Green color, you can change it */
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Position the Button to the Right */
  .add-button-container {
    text-align: right;
    margin-bottom: 20px;
  }
  
  /* Responsive Styling */
  @media only screen and (max-width: 768px) {
    .add-button-container {
      text-align: center; /* Center the button on smaller screens */
      margin-bottom: 10px; /* Adjust margin for better spacing */
    }
  
    button {
      width: 100%; /* Make buttons fill the width */
      margin: 5px 0; /* Adjust margin for better spacing on smaller screens */
    }
  
    .btn-sm {
      font-size: 12px;
    }
  
    /* Add any additional responsive styling as needed */
  }


  /************************************/
  .disabled-link {
   
    opacity: 0.5;
    cursor: not-allowed;
  }

  a{
    text-decoration: none;
    color:  black;
  }
  .btn btn-dribbble{
    background-color: grey;
  }
  
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .btn-secondary {
    // Customize Bootstrap button styles if needed
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }
  
  .btn-secondary:disabled {
    // Customize disabled button styles
    background-color: #d6d6d6;
    border-color: #d6d6d6;
    color: #6c757d;
    cursor: not-allowed;
  }


  

hr {
  border: none; // Remove default border
  height: 2px; // Set the height of the horizontal rule
  background-color: #333; // Set the color of the horizontal rule
  margin: 20px 0; // Add some margin above and below the horizontal rule
}
