/* Cards */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card-title {
    margin: 0;
    font-size: 18px;
}

.card-body {
    padding: 20px;
}

.cards-size {
    width: 430px;
}

.py-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 0rem !important;
}